.w-90{
  background-color:	#F4C2C2;
  min-height: 100vh;

}

.leftPanel{
  background-color: #fff;
  
}
.section_title{
  color:black;
  margin-bottom: 20px;
}
.sidebar{
  border-radius: 10px;
  padding: 16px 15px;
  color: #333333;
  text-decoration: none;
  display: flex;
 
}
#icon{
  padding-right: 20px;
  font-size: 20px;

}
.active-link {
  font-weight:bolder;
  background-color: #f5f5f5;

}
.active-link #title {
  font-weight:bolder;
}
.hover-link:hover {
  background-color: #f5f5f5;
  


  
}