.primaryNavBar #basic-navbar-nav .nav-link{
    margin-right: 2rem;
    font-size: 1.4em;
}

.primaryNavBar #basic-navbar-nav .nav-link svg{
    margin-right: .6rem;
    
}
.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}