.primaryNavBar #basic-navbar-nav .nav-link{
    margin-right: 2rem;
    font-size: 1.4em;
}

.primaryNavBar #basic-navbar-nav .nav-link svg{
    margin-right: .6rem;
    
}
.navbar {
    height: 70px;
    display: flex;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 20;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}
.logo{
    height: 12rem;
    margin-left: -100px;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
    
  }
  #loginform{
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
  }
  #headerTitle{
    text-align: center;
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
  }
  #Label{
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
  }
  #Input{
    width: 80%;
    box-sizing: border-box;
      border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
  }
  
  #Input:focus{
     box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
     outline: none;
  }
  
  #Input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
  }
  
  #Input:hover::-webkit-input-placeholder,
  #Input:focus::-webkit-input-placeholder{
    opacity: 0;
  }
  #button{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    margin-top: 1.6rem;
    margin-bottom: 5.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(52, 58, 64, 1) 0%,     rgba(255, 193, 7, 1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  
  #button:hover{
    opacity: 0.8;
  }
  
  #button{
    padding-bottom: 1.5rem;
  }
  